<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", "dsmoothmenu-v", :media => "all" %>
  <%= javascript_include_tag "application", "ddsmoothmenu", "jquery.min"%>
  <%= csrf_meta_tags %>

</script>

<script>

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

ddsmoothmenu.init({
	mainmenuid: "smoothmenu2", //Menu DIV id
	orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
	//customtheme: ["#804000", "#482400"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
</head>
<body>
<div id="smoothmenu1" class="ddsmoothmenu">
	<ul>
	  <li id="books"><a href="/books">Books</a></li>
	  <li id="music" ><a href="/musics">Music</a></li>
	  <li><a href="#">Folder 0</a>
		  <ul>
			  <li id="books"><a href="/books">Books</a></li>
			  <li id="music" ><a href="/musics">Music</a></li>
		  </ul>
		</li>
	  <li id="dvds"><a href="/dvds">Dvds</a></li>
	</ul>
	<br style="clear: left" />
</div>
<%= yield %>

</body>
</html>
